@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffff;
}
